<section id="my-listings">
  <% @listings.each do |listing| %>
    <article class="row each-listing">
      <div class="imag-index">
        <img src=<%= listing.avatar.url(:thumb) %> width="100px" height="100px"/>
      </div>
      <div class="listing">
        <h1><%= listing.name %></h1>
        <p><%= listing.description %></p>
      </div>
    </article>
  <% end %>
  <%= link_to "Post a new listing", new_listing_path %>
</section>