<section id="how-it-works">
  <ul>
    <li><a href="/listings/new">List your product on our platform</a></li>
    <li>A Facebook User can express interest</li>
    <li>An email is sent to both you and the buyer through our platform</li>
    <li>You can exchange details and buy your product</li>
  </ul>
</section>