#main-container {
  background-color: #F2F2E9;
  height: 1000px;
}

.left-nav {
  height: 850px;
  border-right: 1px solid green;
}

#main-container ul li {
  margin: 15px 18px 15px 18px;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-color: #D0D0E8;
  letter-spacing: 2px;
  width: 115px;
}

.spacing {
  padding: 10px;
}

.imag-index {
  float: left;
 
}

.imag-index img{
  border-radius: 128px;
  box-shadow: 3px 3px 3px #777777;
}

.each-listing {
  margin: 30px;
}

.listing {
  margin-left: 120px;
}

.listings {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}