body {
  margin: 0;
  font-family: 'Droid Serif';
  background-color: #FAEDD6;
  background-image: url('ricepaper_v3.png');
  background-repeat: repeat;
  color: #479898;
  font-size: 18px;
}

header {
  height: 150px;
  width: 100%;
  margin: 0 auto;
  background-image: url('vintage_flower.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

header h1 {
  font-size: 34px;
  float: right;
  padding-top: 50px;
  padding-right: 10px;
}

header h1 a {
  text-decoration: none;
  color: #FAEDD6;
}

header nav {
  padding-top: 50px;
}

header nav li {
  float: left;
  font-size: 24px;
}

header nav li:first-child {
  margin-top: -12px;
}

h2 {
  font-size: 25px;
  margin: 18px;
  color: #479898;
}

h3 {
  font-size: 18px;
}

input, textarea, select, button {
  display: block;
  width: 300px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 5px;
}

p {
  margin: 5px;
}

input {
  height: 28px;
}

fieldset {
  margin: 20px;
}

input[type='submit'] {
  width: 150px;
  font-size: 40px;
}

nav a {
  color: #479898;
  text-decoration: none;
}

nav a:hover {
  color: #FAEDD6;
}

nav li {
  padding: 10px;
}

section {
  width: 70%;
  margin: 0 auto;
}

article h1 {
  font-size: 20px;
  padding-bottom: 2px;
}

article p {
  font-size: 16px;
}
