body {
  margin: 0;
  font-family: 'Droid Serif';
}

header {
  height: 200px;
  width: 100%;
  background-color: #479898;
}

h1 {
  font-size: 34px;
  padding: 70px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin: 50px;
}

h3 {
  font-size: 18px;
}

input, textarea, select, button {
  display: block;
  width: 300px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 5px;
}

p {
  margin: 5px;
}


input {
  height: 28px;
}

fieldset {
  margin: 20px;
}