body {
  margin: 0;
  font-family: 'Droid Serif';
}

header {
  height: 700px;
  width: 100%;
  margin: 0 auto;
  background-image: url('bridge.jpg');
  background-repeat: no-repeat;
  background-size: 2600px 1370px;
  background-position:  center center; 
}

header .welcome {
  width: 60%;
  margin: 0 auto;
}

header .user {
  padding-top: 40px;
}

h1 {
  font-size: 34px;
  padding: 50px;
  text-align: center;
  color: #250A28;
}

h2 {
  font-size: 25px;
  margin: 18px;
  color: #479898;
}

h3 {
  font-size: 18px;
}

input, textarea, select, button {
  display: block;
  width: 300px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 5px;
}

p {
  margin: 5px;
}


input {
  height: 28px;
}

fieldset {
  margin: 20px;
}

input[type='submit'] {
  width: 150px;
  font-size: 40px;
}

nav {
  width: 50%;
  margin: 0 auto;
}

nav a {
  color: #479898;
  text-decoration: none;
}

nav li {
  padding: 10px;
}

nav li:hover {
  background-color: #D3B9D3;
  border-radius: 5px;
}